@media screen and (max-width:1350px){
    .bottom-header_inner,
    .ib-container,
    .top-header_inner,
    .middle-header{
        max-width: 1200px;
    }
}

@media screen and (max-width:1250px){
    .bottom-header_inner,
    .ib-container,
    .top-header_inner,
    .middle-header{
        max-width: 950px;
    }
    .bottom-header_inner {
        gap: 20px;
    }
    .logo-wrapper img {
        width: 150px;
    }
    .app-download__icon img {
        width: 25px;
        height: auto;
    }
    .app-download__icon {
        gap: 8px;
    }
    .track-order .track-order__text, .cart-detail .ib-bold, .app-download span:last-child,.top-header__right{
        display: none;
    }
    .cart-detail {
        position: relative;
    }
    .cart-detail__text {
        position: absolute;
        right: -6px;
        top: -7px;
    }
    .cart-detail i, .track-order i {
        font-size: 16px!important;
    }
    .track-order, .cart-detail {
        background: #38404a!important;
        height: 30px;
        min-width: 30px;
        border-radius: 50%!important;
        align-items: center;
        justify-content: center;
    }
    .bottom-header__right {
        gap: 12px;
    }
    .ib-services,
    .ib-product__qty {
        flex-direction: column;
        align-items: start;
    }
    span.ib-vertical-seperator {
        display: none;
    }
    .ib-footer__bottomInner.ib-footer__company{
        max-width: 10%;
    }
    .ib-footer__bottomInner.ib-footer__help{
        max-width: 30%;
    }
    ul.ib-footer__links a {
        font-size: 13px;
    }
    .ib-tool {
        flex-direction: column;
        gap: 16px;
    }
    ul.ib-tool__social {
        margin-left: auto;
        order: 1;
    }
    ul.ib-tool__breadcrumb {
        order: 2;
        flex-wrap: wrap;
    }
    .ib-tool__breadcrumb a {
        white-space: pre;
    }
    .ib-product__offerBlock {
        flex-direction: column;
    }
    .ib-product__price {
        font-size: 20px;
    }
    .ib-produuct__description .ib-productTitle {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .ib-product__price sub ,.ib-price__gst sub {
        font-size: 10px;
    }
}

@media screen and (max-width:991px){
    .bottom-header_inner,
    .ib-container,
    .top-header_inner,
    .middle-header{
        max-width:750px;
    }
    .logo-wrapper .logo-desktop,
    .category__activator span {
        display: none;
    }
    .logo-wrapper .logo-mobile {
        display: block!important;
        width: 35px;
    }
    .category__activator {
        width: 35px;
        height: 35px;
        justify-content: center;
        border-radius: 5px;
    }
    .search-wrapper__dropdown span {
        display: none;
    }
    .search-wrapper__dropdown {
        height: 37px;
        width: 37px;
        justify-content: center;
    }
    .ib-footer__bottomInner {
        max-width: 48%!important;
    }
    .ib-container.ib-footer_bottomInner {
        flex-wrap: wrap;
    }
    .ib-tabs a.ib-tabs__item {
        font-size: 12px;
    }
}

@media screen and (max-width:768px){
    .bottom-header_inner,
    .ib-container,
    .top-header_inner,
    .middle-header{
        max-width:100%;
    }
    .ib-productImage {
        flex-direction: column;
    }
    .ib-productImage >div {
        max-width: 100%;
    }
    .ib-produuct__description {
        padding-top: 0px;
    }
    .ib-product__imageAndDescription {
        max-width:100%;
        width: 100%;
        background: var(--color-white);
    }
    .ib-product__detail {
        top: unset;
        position: fixed;
        left: 0;
        bottom: 0;
        max-width: 100%;
        background: #ffffff;
        padding: 6px 12px;
        border-top: 1px solid #dddddd;
        box-shadow: 0 -2px 7px -1px #dddddd;
        z-index: 1;
    }
    ul.ib-tool__breadcrumb {
        display: none;
    }
    .ib-productImage__inner {
        padding-top: 30px;
    }
    .ib-shipping {
        top: 0;
    }
    .ib-tool {
        padding-bottom: 0;
    }
    .ib-productImage__inner {
        position: static;
    }
    .ib-services__list ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .ib-services__list ul li img {
        min-width: 20px;
        height: 20px;
    }
    .ib-rating__left span {
        font-size: 22px;
    }
    .ib-rating__container > div {
        gap: 8px;
    }
    .ib-tabs a.ib-tabs__item {
        font-size: 10px;
    }
    .ib-tab__content p,
    .ib-helpCenter {
        font-size: 13px;
    }
    .ib-product__offerBlock {
        font-size: 16px;
    }
    .ib-help__item {
        display: none;
    }
    .ib-product__detailCard {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }
    .ib-product__priceContainer, .ib-product__qty, .ib-product__customise,.ib-product__detailCard .ib-product__CTA {
        padding: 0;
        border-bottom: 0;
        width: 100px;
        flex-grow: 1;
    }
    .ib-productBrand {
        margin-bottom: 5px;
    }
    span.ib-coins {
        font-size: 14px;
    }
    .ib-footer__tab-content {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
   .ib-product__detailCard .ib-product__CTA {
        flex-grow: 1;
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
    }
    .ib-price__gst {
        margin-top: 4px;
        font-size: 12px;
    }
    .ib-product__price, .ib-price__gst {
        position: relative;
        padding-bottom: 0;
    }
    .ib-product__qty {
        gap: 4px;
        display: flex;
        align-items: end;
    }
    .ib-product__qty > span {
        font-size: 10px;
    }
    button.login-button {
        font-size: 0;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button.login-button i {
        display: block!important;
        font-size: 16px!important;
    }
    .bottom-header__center {
        display: none;
    }
    .ib-product__CTA > button {
        flex: 1 1 50%;
    }
    .footer-visible .ib-product__detail {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width:650px){
    .ib-footer__tabs a {
        font-size: 12px;
    }
    .ib-footer__tab-content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .ib-footer__bottomInner {
        max-width: 100%!important;
    }
    .ib-footer__paymentMethod {
        flex-direction: column;
    }
    .ib-footer__paymentMethod img {
        width: 90%;
    }
    .ib-footer__bottomInner h3,
    .ib-rating h3,
    .ib-help_footer {
        font-size: 14px;
    }
    .ib-rating__container {
        align-items: start;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }
    .ib-rating__container > div {
        gap: 8px;
        width: 100%;
        align-items: flex-start;
    }
    .ib-rating__meter {
        max-width: 100%;
    }
    .ib-container {
        padding: 0;
    }
    footer .ib-container {
        padding:0 15px
    }
    .ib-product__pinCodeChecker form {
        max-width: 100%;
    }
    .middle-header {
        font-size: 10px;
    }
    .ib-description__tabsInner ul a {
        font-size: 12px;
    }
    .ib-footer__copyrightInner {
        font-size: 10px;
    }
}