
/* General css */
main {
    margin-top: var(--lead-site-spacing);
    margin-bottom: 40px;
}
.ib-btn__Secondary {
    padding: 5px 10px;
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid #dddddd;
    color: var(--link-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
/* General Css */
/* Main Product Section */
    .ib-product__sectionContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--lead-site-spacing);
    }
    .ib-product__imageAndDescription {
        max-width: 75%;
        width: 100%;
        background: var(--color-white);
    }
    .ib-product__detail {
        max-width: 25%;
        width: 100%;
        position: sticky;
        top: 120px;
    }
    .ib-product__detailCard{
        background: var(--color-white);
    }
    .ib-tool {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--lead-site-spacing);
    }
    .ib-tool__breadcrumb {
        display: flex;
        align-items: center;
        font-size: 11px;
        gap: var(--lead-site-spacing);
    }
    .ib-tool__breadcrumb a {
        color: var(--body-text-main);
        transition: 100ms all linear;
        position: relative;
    }
    .ib-tool__breadcrumb li:last-child a{
        pointer-events: none;
    }
    .ib-tool__breadcrumb li:last-child a::after{
        content: unset;
    }
    .ib-tool__breadcrumb a:after {
        position: absolute;
        content: "\f105";
        font-family: 'FontAwesome';
        top: 1px;
        right: -11px;
        font-size: 15px;
    }
    .ib-tool__breadcrumb a:hover {
        color: var(--primary-color);
    }
    .ib-tool__social {
        display: flex;
        gap: var(--small-site-spacing);
    }
    .ib-tool__social a {
        color: var(--color-white);
        height: 25px;
        width: 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 11px;
        transition: 100ms all linear;
    }
    .ib-tool__social a i {
        transition: 100ms all linear;
    }
    .ib-tool__social a:hover i {
        transform: scale(1.1);
    }
    .ib-google a {
        background: #DC4E41;
    }
    .ib-facebook a {
        background: #44619D;
    }
    .ib-email a {
        background: #AAC8A7;
    }
    .ib-print a {
        background: #F31559;
    }
    .ib-productImage {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        padding: var(--lead-site-spacing);
    }
    .ib-productImage > * {
        max-width: 50%;
        width: 100%;
    }
    .ib-productImage__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 60px;
        gap: 40px;
        position: sticky;
        top: 120px;
    }
    .ib-productImage__inner img {
        width: 100%;
    }
    .ib-roduct__slider img {
        max-width: 80%;
        margin: 0 auto;
        width: 100%;
    }
    .ib-product__sliderSync img {
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #dddddd;
        width: 60px;
        height: 60px;
        object-fit: cover;
        cursor: pointer;
    }
    .ib-product__sliderSync .slick-current img {
        border-color: var(--primary-color);
    }
    .ib-shipping {
        position: absolute;
        top: 20px;
        right: 0;
        font-size: 11px;
        background: var(--primary-color-light);
        color: var(--color-white);
        padding: 5px 5px 5px 30px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .ib-shipping i {
        height: 20px;
        width: 20px;
        background: var(--color-white);
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 4px;
        color: #444444;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ib-produuct__description {
        padding-top: 60px;
    }
    .ib-produuct__description .ib-productTitle {
        font-size: 18px;
        margin-bottom: 20px;
        color: var(--body-text-main);
    }
    .ib-productBrand {
        display: flex;
        font-size: 14px;
        align-items: center;
        gap: var(--small-site-spacing);
        font-weight: 700;
        color: var(--body-text-main);
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .ib-brandName {
        color: var(--link-color);
    }
    .ib-help {
        height: 16px;
        width: 16px;
        box-shadow: 0 2px 3px 1px #dddddd;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        cursor: pointer;
        color: var(--body-text-main);
    }
    .ib-coinsRating {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    span.ib-coins {
        display: flex;
        align-items: center;
        gap: var(--small-site-spacing);
        color: #444; 
        font-weight: 600; 
    }
    .ib-productFeatures {
        margin-top: 20px;
        border-top: 2px solid #dddddd;
        padding-top: 20px;
    }
    .ib-productFeatures h3 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 4px;
    }
    .ib-productFeatures ul {
        color: #8C8A8A;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding-left: 18px;
        margin-bottom: 16px;
    }
    .ib-productFeatures ul li{
        position: relative;
    }
    .ib-productFeatures ul li:before {
        position: absolute;
        height: 8px;
        width: 8px;
        background-color: #bfbfbf;
        border-radius: 50%;
        left: -16px;
        content: "";
        top: 4px;
    }
    .ib-productFeatures ul li span:first-child {
        min-width: 130px;
        display: inline-block;
    }
    .ib-product__Links {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        font-size: 11px;
        gap: 4px;
    }
    .ib-product__Links a{
        color: var(--link-color);
        text-decoration: underline;
    }
    .ib-product__pinCodeAndOffer {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #dddddd;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .ib-product__pinCodeAndOffer h3 {
        font-size: 14px;
        color: var(--body-text-main);
        font-weight: 600;
    }
    .ib-product__pinCodeChecker,
    .ib-product__offer {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .ib-product__pinCodeChecker form {
        display: flex;
        max-width: 350px;
        width: 100%;
    }
    .ib-product__pinCodeChecker form input {
        padding: 6px 10px;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        width: 100%;
        font-size: 12px;
    }
    .ib-product__pinCodeChecker button {
        border: 1px solid #dddddd;
        padding: 5px 10px;
        margin-left: -1px;
        font-size: 12px;
        color: var(--body-text-main);
    }
    .ib-product__offerBlock {
        background: #FFF4C0;
        font-weight: 600;
        font-size: 18px;
        display: flex;
        gap: 16px;
    }
    .ib-product__offerBlock p{
        padding: 12px;
        color: var(--primary-color-light);
    }
    .ib-product__offerBlock >div {
        border: 1px dashed var(--primary-color-light);
        padding: 10px 26px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        gap: 4px;
    }
    .ib-product__couponText {
        font-weight: normal;
        white-space: pre;
    }
    .ib-product__couponCode {
        font-size: 16px;
        text-transform: uppercase;
    }
    .ib-product__offer a {
        font-size: 12px;
        color: var(--link-color);
        text-decoration: underline;
    }
    .ib-product--actions {
        border-top: 1px solid #dddddd;
        margin-top: 20px;
        padding-top: 20px;
    }
    .ib-product--actions ul {
        display: flex;
        font-size: 12px;
        gap: 12px;
    }
    .ib-product--actions ul li {
        display: flex;
        font-size: 12px;
        gap: 8px;
        color: var(--link-color);
        align-items: center;
    }
    .ib-product--actions ul li a {
        color: var(--link-color);
        text-decoration: underline;
    }
    .ib-services {
        margin-top: 20px;
        padding-top: 20px!important;
        border-top: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        padding: var(--lead-site-spacing);
    }
    .ib-services__list {
        flex-grow: 1;
    }
    .ib-services__list ul {
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        color: var(--body-text-main);
    }
    .ib-services__list ul li {
        display: flex;
        gap: 12px;
    }

    span.ib-gaurantee {
        display: flex;
        flex-direction: column;
    }
    .ib-services__list ul li img {
        min-width: 25px;
        height: 25px;
    }
    .ib-product__priceContainer,
    .ib-product__qty,
    .ib-product__customise,
    .ib-product__CTA {
        padding: var(--lead-site-spacing);
        border-bottom: 1px solid #dddddd;
    }
    .ib-product__price {
        color: var(--primary-color-light);
        font-weight: 600;
        font-size: 30px;
    }
    .ib-product__price sub {
        font-size: 12px;
        color: var(--body-text-main);
    }
    .ib-price__gst {
        margin-top: 10px;
        font-size: 14px;
        color: #666666;
        font-weight: 500;
    }
    .ib-product__qty {
        display: flex;
        gap: 12px;
    }
    .ib-product__qtyChanger {
        display: flex;
    }
    .ib-product__qtyChanger input {
        max-width: 30px;
        border: 0;
        text-align: center;
    }
    .ib-product__qtyChanger button {
        padding: 5px 10px;
        border: 0;
        background: #ffffff;
        font-size: 11px;
        font-weight: 400;
        transition: 100ms all linear;
        color: #969696;
    }
    .ib-product__qtyChanger button:hover{
        background-color: #dddddd;
    }
    .ib-product__qtyChanger {
        display: flex;
        border: 1px solid #dddddd;
    }
    .ib-product__qty > span {
        color: var(--body-text-main);
        font-size: 12px;
    }
    .ib-product__customise a {
        color: var(--link-color);
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        display: block;
        text-decoration: underline;
    }
    .ib-product__CTA {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .ib-product__CTA button {
        padding: 10px;
        font-weight: 600;
        border: 0;
        color:#ffffff;
    }
    button.ib-button__success {
        background-color: #4C993E;
    }
    button.ib-button__primary {
        background-color: var(--primary-color-light);
    }
    .ib-help__item {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .ib-help__item a {
        color: var(--link-color);
        text-decoration: underline;
        font-size: 14px;
    }
    .ib-helpCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 16px;
    }
    .ib-helpCenter i {
        color: #1DBBE2;
        font-size: 22px;
    }
    .ib-description__tabs {
        margin-top: 20px;
        padding-top: 20px!important;
        border-top: 1px solid #dddddd;
        padding: var(--lead-site-spacing);
    }
    .ib-description__tabsInner ul {
        display: flex;
        transform: translateY(1px);
    }
    .ib-description__tabsInner ul a {
        padding: 8px 16px;
        border: 1px solid #dddddd;
        color: var(--body-text-main);
        display: inline-block;
    }
    .ib-description__tabsInner ul .active a{
        border-bottom-color: #ffffff;
    }
    .ib-description__tabsInner > div {
        padding: 18px;
        border: 1px solid #dddddd;
    }
    .ib-description__tabsInner ul li:not(.active) {
        background-color: #f2f2f2;
    }
    .ib-tab__content p {
        font-size: 14px;
        color: #444444;
        margin-bottom: 10px;
        line-height: 20px;
    }
    .ib-responsive-container{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    .ib-responsive-iframe{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    #ib-product__specification {
        padding: 0;
    }
    .ib-product__specificationItem {
        padding: 10px 18px;
        border-bottom: 1px solid #dddddd;
        font-size: 13px;
        display: flex;
        align-items: center;
    }
    span.ib-product__specificationTitle {
        min-width: 25%;
        color: #666666;
    }

    /* Recommended section */
    .ib-recommended__items h3 {
        font-size: 16px;
        color: #444444;
        padding: 6px 20px;
    }
    .ib-product__slide {
        position: relative;
        border: 1px solid #dddddd;
    }
    .ib-product__slide:hover {
        box-shadow: inset 0 0 20px rgba(0,0,0,.18);
    }
    .ib-product__slidePrice {
        padding: 0 8px 8px;
        border-top: 2px dotted #dddddd;
    }
    .ib-product__slideImage img {
        mix-blend-mode: multiply;
        max-width: 150px;
        margin: 10px auto;
    }
    .ib-product__slide a {
        padding: 8px;
        display: inline-block;
    }
    .ib-product__slide .ib-shipping {
        top: 0;
    }
    h4.ib-product__title {
        font-size: 13px;
        font-weight: 500;
        color: #444444;
    }
    h5.ib-product__brand {
        font-size: 11px;
        font-weight: 500;
        color: #666;
        margin: 5px 0 10px;
    }
    .ib-product__slidePriceInner h4 {
        color: var(--primary-color-light);
        font-size: 13px;
        margin-top: 10px;
    }
    .ib-product__slidePriceInner {
        min-height: 60px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .ib-product__slidePriceInner h5 {
        color: #489437;
        font-size: 13px;
        font-weight: 400;
    }
    .ib-product__slidePrice .ib-product__CTA {
        padding: 0;
        flex-direction: row;
        border: 0;
        justify-content: space-between;
        gap: 12px;
    }
    .ib-button__primaryOutlined {
        border: 1px solid var(--primary-color);
        background: #ffffff;
        color: var(--primary-color);
    }
   .ib-button__tertiaryOutlined {
        border: 1px solid #444;
        color: #444444;
        background: #ffffff;
    }
    .ib-product__slidePrice button {
        font-size: 12px;
        font-weight: 500;
    }
    .ib-product__slidePrice .ib-product__CTA button {
        flex-grow: 1;
    }
    .ib-product__itemsSlider > button {
        position: absolute;
        height: 60px;
        width: 35px;
        background: #ffffff!important;
        z-index: 1;
    }
    .ib-product__itemsSlider .slick-prev {
        box-shadow: 2px 0 7px 0px #dddddd;
        left: 1px;
    }
    .ib-product__itemsSlider .slick-prev:before,
    .ib-product__itemsSlider .slick-next:before{
        font-family: "fontAwesome";
        color: #444444;
    }
    .ib-product__itemsSlider .slick-prev:before{
        content: "\f053";
    }
    .ib-product__itemsSlider .slick-next:before{
        content: "\f054";
    }
    .ib-product__itemsSlider .slick-next {
        box-shadow: -2px 0 7px 0px #dddddd;
        right: 1px;
    }
    /* Recommended section end */

    /* Rating section Pdp page */
    .ib-rating {
        margin-top: 20px;
        padding: 20px;
    }
    .ib-rating h3 {
        font-size: 16px;
        color: var(--body-text-main);
    }
    .ib-rating__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ib-rating__container > div {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ib-rating__container > div {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
    .ib-rating__left span {
        font-size: 32px;
    }
    .ib-rating__left p {
        color: var(--body-text-main);
    }
    .ib-rating__meter {
        display: flex;
        gap: 16px;
        align-items: center;
        font-size: 12px;
        color: #01614B;
        max-width: 70%;
        width: 100%;
    }
    .ib-rating__meter .ib-rating__progress {
        flex-grow: 1;
        height: 20px;
        position: relative;
        border: 1px solid #dddddd;
        border-radius: 5px;
        background-color: #F0F2F2;
        transition: 100ms all linear;
        cursor: pointer;
    }
    .ib-rating__meter .ib-rating__progress:hover{
        background-color: #dddddd;
    }
    .ib-rating__meter .ib-rating__progress .ib-rating__progressPercentage {
        position: absolute;
        border-radius: 5px;
        inset:0 0 0 0;
        background-color: var(--primary-color-light);
        left:0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .ib-rating__images {
        display: flex;
        gap: 8px;
        margin-top: 24px;
    }
    .ib-rating__images img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 1px solid #dddddd;
        border-radius: 5px;
        display: block;
    }
    .ib-rating__imageItem {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }
    .ib-rating__imageItemMore:after {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: rgba(0,0,0,0.5);
    }
    .ib-rating__imageItemMore {
        cursor: pointer;
    }
    .ib-rating__imageItemMore span {
        position: absolute;
        color: #ffffff;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
    }
    .ib-rating__customerRatings {
        margin-top: 20px;
    }
    .ib-tabs {
        display: flex;
    }
    .ib-tabs a.ib-tabs__item {
        padding: 10px 16px;
        border: 1px solid #dddddd;
        background: #f2f2f2;
        display: inline-block;
        color: #666666;
        font-size: 14px;
    }
    .ib-tabs .active a.ib-tabs__item {
        background: #ffffff;
        color: var(--body-text-main);
    }
    .ib-rating__customer {
        position: relative;
        border-bottom: 1px solid #dddddd;
        padding: 25px 0;
    }
    .ib-rating__time {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 12px;
        color: var(--body-text-main);
    }
    .ib-rating__customerInitial {
        height: 50px;
        width: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid var(--primary-color);
        font-size: 22px;
        font-weight: 500;
    }
    .ib-rating-customerRate {
        display: flex;
        gap: 12px;
    }
    .ib-rating__customerName {
        font-size: 15px;
        font-weight: 500;
        color: var(--body-text-main);
        margin-bottom: 8px;
    }
    .ib-rating__verfied {
        display: inline-block;
        font-size: 10px;
        background: #007A87;
        color: #ffffff;
        padding: 2px 4px;
        margin-left: 5px;
        vertical-align: middle;
        font-weight: normal;
    }
    .ib-rating__star strong {
        font-size: 12px;
        margin-left: 8px;
    }
    .ib-rating__customer > p {
        margin-top: 16px;
        color: var(--body-text-main);
        font-size: 13px;
    }
    /* Rating section Pdp page end */
/* Main Product Section End */